.error {
    background-image: url(../img/404/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 29.1rem;
    padding-bottom: 31.8rem;
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: 'Akrobat',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 25rem;
        line-height: 30rem;
        text-transform: uppercase;
        color: rgba(27, 30, 31, 0.85);
        margin-bottom: 9rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        strong {
            font-family: 'Akrobat',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 6rem;
line-height: 7.2rem;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #1B1E1F;
margin-bottom: 3.2rem;
        }

        span {
            font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 156%;


letter-spacing: 0.02em;

color: #1B1E1F;
        }
    }

    
    .link {
        cursor: pointer;
        &::before {
            background-image: url(../img/icon/arrownextblack.svg);
        }
        span {
            color:#1B1E1F;
        }
       
    }
}