.header {
    position: relative;
    top: 0;
    z-index: 5;
    margin-top: 5.2rem;
    .container {
        width: 112.2rem;
    }

    &__mob-address {
        display: none;
    }

    &__btn-block {
        display: none;
    }

    &__wrapper {
        display: flex;
    }

    &__logo {
        display: inline-block;
        width: 29.1rem;
        height: 4rem;
        margin-right: 6.4rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__lists {
        display: flex;
        padding-top: 1.1rem;
    }


    &__item {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: inline-block;
        color: #fff;
        margin-right: 3.1rem;
        &:hover {
            color: #1B1E1F;
                transition: 0.2s
        }
    }

    &__mob-phone {
        display: none;
    }

    &__burger {
        display: none;
    }

    &__item:last-child {
        margin-right: 0;
    }

  


    &__select {
        padding-top: 1.1rem;
        position: relative;
        display: block;
        background: none;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        border: none;
        margin-right: 6rem;
        padding-right: 1.2rem;
        &:hover {
           

            .header__select-head {
                color: #1B1E1F;
                transition: 0.2s
            }
        }
        
    }
    
    &__select-head {
        width: 100%;
        max-width: 100%;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
       
    }


    
    &__select-head::after {
        width: 1rem;
        height: 1rem;
        background: url("../img/icon/arrowdown.svg") no-repeat center / cover;
        position: absolute;
        right: -0.5rem;
        transform: translateY(50%);
        content: '';
        display: block;
        transition: .2s ease-in;
        top: 1rem;
    }
    
    &__select-head.open::after {
        transform: translateY(50%) rotate(180deg);
    }
    
    &__select-list {
        border-top: 1.2px solid #fff;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 5rem;
        max-height: 20.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        overscroll-behavior: contain;
    }
    
  
    
    &__select-list &__select-item {
        position: relative;
        padding: 1rem 1.5rem;
        cursor: pointer;
        list-style-type: none;
    }
    
    &__select-list &__select-item:hover {
        background-color: rgba(224, 229, 231, 0.5);
    }

    


  

    &__down-item {
        color: #1B1E1F;
        display: block;
        margin-bottom: 2rem;
        border: none;
        a {
            padding: 0;
            border: none;
        }
    }


    &__item--phone {
        padding-right: 2.6rem;
        display: inline-block;
        position: relative;
        a {
          
            border-bottom: 2px solid #FFFFFF;
            padding-bottom: 0.8rem;
        }

       &:hover {
            &::after {
                transform: rotate(180deg);
            }
            .header__down {
                transition: .2s ease-in;
                opacity: 1;
            }

      

        }
        &::after {
            width: 1rem;
            height: 1rem;
            background: url("../img/icon/arrowdown.svg") no-repeat center / cover;
            position: absolute;
            right: 0rem;
            content: '';
            display: block;
            transition: .2s ease-in;
            top: 0.5rem;
        }
  
    }

   

    &__down {
        background: #fff;
        position: absolute;
        top: 105%;
        height: fit-content;
        display: block;
        left: 0;
        opacity: 0;
        transition: 0.2s;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        min-width: 20rem;
        a {
            padding: 0;
            border: none;
        }
    }
}


.header--two {
    .header__item {
       
        color: #1B1E1F;
        &:hover  {
            color: #BF2B2B;
        }
        
    }

    .header__logo {
        
        svg {
            transition: fill 0.25s;
            fill:#1B1E1F;
        }
    }

    .header__item--phone {
        a {
            border-bottom: 2px solid #1B1E1F;
        }

        &::after {
            background: url(../img/icon/arrowdownblack.svg) no-repeat center / cover;;
            top: 0.2rem;
        }

        &:hover {
            &::after {
                top: 0.2rem;
            }
        }
    }

    .header__down {
        a {
            border-bottom: none;
        }
    }

    .header__select-head::after  {
        background: url(../img/icon/arrowdownblack.svg) no-repeat center / cover;;
    }

    .header__select-head {
        &:hover  {
            color: #BF2B2B;
        }
    }

    .header__select  {
        color: #1B1E1F;

    }


    .header__select-head {
        color: #1B1E1F;
    }

    .header__select-list {
        color: #1B1E1F;
    }




    
}