.main {
    padding-top: 7.7rem;
    padding-bottom: 7rem;
    margin-bottom: 15rem;
    &__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 97.6rem;
        top: 0;
        background-image: url(../img/main/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &::after {
        position: absolute;
        content:'';
        width: 84.1rem;
        height: 97.6rem;
        top: 0;
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(25px);
        z-index: 1;
    }
    .container {
        width: 100%;
        position: relative;
        z-index: 2;
        padding-left: 40rem;
    }

    &__feedback {
        margin-bottom: 11rem;
    }


    &__feedback-inner {
        display: flex;
        align-items: center;
        margin-bottom: 4.7rem;
    }

    &__feedback-image {
        height: 6.2rem;
        width: 17rem;
        margin-right: 1rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__feedback-text {
        display: flex;
        flex-direction: column;

        strong {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            display: block;
            margin-bottom: 0.4rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            display: block;
            line-height: 156% ;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    }


    &__title-mob {
        display: none;
    }

    &__title-desk {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.1rem;

        strong {
            background-size: cover;
            mix-blend-mode: lighten;
            font-size: 10.5rem;
            text-transform: uppercase;
            line-height: 12rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: url(../img/main/bg.png);
            background-position: 65% 93%;
            position: relative;
            left: -1rem;
            font-family: 'Akrobat',sans-serif;
            font-weight: 900;
        }

        span {
            font-family: 'Akrobat',sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 10.4rem;
            line-height:  104%;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-left: 48rem;
            margin-top: -4.2rem;
        }
    }

    &__text {
        width: 41rem;
        margin-bottom: 4.3rem;
        display: block;

        strong {
            display: block;
            font-family: 'Avanti',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.6rem;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-bottom: 3rem;
            color: #FFFFFF;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 156%;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.7);

            span {
                color: #fff;
            }
        }

    }

    &__title-mob {
        display: none;
    }

    &__logo {
        height: 40.3rem;
        width: 8.4rem;
        position: absolute;
        right: 0;
        top: 29.8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
}