.poap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(7px);
    opacity: 0;
    z-index: -2;
    transition: opacity 0.25s;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

    &__close {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }


    &__form {
        position: relative;
        width: 69rem;
        height: auto;
        background: #fff;
        padding-top: 5.8rem;
        padding-left: 5.4rem;
        padding-right: 5.6rem;
        padding-bottom: 5.4rem;
    }

    &__text {
        font-size: 1.6rem;
        padding-top: 4rem;
    }

    &__form-title {
        font-family: 'Akrobat',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 6rem;
        line-height: 7.2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 5.3rem;
        color: #1B1E1F;
    }


    &__inner-prompt {
        font-size: 1.4rem;
        color: #C9C8D0;
        padding-top: 0.2rem;
    }


    

   

    &__block {
        display: flex;
        margin-bottom: 3.2rem;
        justify-content: space-between;
        .poap__inner {
            padding-top: 1.2rem;
            input {
                background: none;
                border: none;
                padding-bottom: 1.1rem;
                border-bottom: 1px solid #C9C8D0;
                width: 25.3rem;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #1B1E1F;
                

            }

            input::-webkit-calendar-picker-indicator {
                opacity: 0;
            }

            input::placeholder {
                color: #1B1E1F;
            }
        }

        .modal__inner:first-child {
            margin-right: 5rem;
        }

    }


    &__block:last-child{
        margin-bottom: 0rem;
    }

    &__btn {
        background: none;
        border: none;
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1B1E1F;
            padding-bottom: 1rem;
            border-bottom: 2px solid #1B1E1F;

        }
    }


    .choices {
        padding-bottom: 0;
        position: relative;
        width: 8.3rem;
        border: none;
        border-bottom: 1px solid #C9C8D0;

        &__inner {
            padding: 0;
            background: none;
            border: none;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1B1E1F;
        }

        
    }

    .choices__inner {}


    

    .hoices__input .choices__input--cloned  {
        display: none;
    }

    .choices__item {
        padding-bottom: 1rem;
        padding-top: 1rem;
       
    }

    .choices__item--choice {
        cursor: pointer;
        &:hover {
            background-color: hsla(0, 0%, 20%, .95);
            transition: 0.2s
            
        }
    }


    .choices__list--dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        max-height: 20.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1B1E1F;
        overscroll-behavior: contain;
    }

    .is-active {
        display: block;
    }
  

    &__inner--phone {
        display: flex;
        flex-direction: initial;
        padding-top: 0.1rem!important;
        input {
            width: 18.6rem!important;
            padding-bottom: 0!important;
        }
    }

    .choices .is-open .is-focused {
        border: none;
    }

   


}


.modal-active-two {
    z-index: 200;
    opacity: 1;
    transition: opacity 0.25s;
}