.policy-b {
    padding-top: 22.8rem;
    padding-bottom: 11rem;

    .container {
        width: 102.4rem;
    }

    &__title {
        font-family: 'Akrobat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 10.5rem;
        line-height: 104%;
        text-transform: uppercase;
        color: #2C2C2C;
        margin-bottom: 5.5rem;
    }

    &__words {
        font-family: 'Akrobat',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 3rem;
        line-height: 83% ;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #2C2C2C;
        margin-bottom: 4rem;

    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        strong {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 138%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-bottom: 2.6rem;
            color: #2C2C2C;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 156%;
            letter-spacing: 0.02em;
            color: #98989B;

        }
    }
}