.relaxation {
    margin-bottom: 13.6rem;
    .container {
        width: 100%;
    }

    .link {
        margin-bottom: 3rem;
        &::before {
            background-image: url(../img/icon/arrownextblack.svg);
        }
        span {
            color: #1B1E1F;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.6rem;
        padding-right: 20.1rem;
        padding-left: 40.2rem;
    }

    &__feedback-inner {
        display: flex;
        align-items: center;
        margin-bottom: 4.7rem;
    }

    &__feedback-image {
        height: 6.2rem;
        width: 16rem;
        margin-right: 1.4rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__feedback-text {
        display: flex;
        flex-direction: column;

        strong {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1B1E1F;
            display: block;
            margin-bottom: 0.4rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            display: block;
            line-height: 156% ;
            letter-spacing: 0.02em;
            color: #98989B;
        }
    }


    &__swiper {
        width: 100%;
        overflow: hidden;
        height: 88.7rem;
    }

    &__slide {
        min-width: fit-content;
        max-width: fit-content;
        max-height: 38.9rem;
        margin-top: 0!important;
        margin-bottom: 4.8rem;
    }

  
    

    &__image {
        min-width: 73rem;
        height: 38.9rem;
        img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
}