.relaxation {
    margin-bottom: 13.6rem;
    .container {
        width: 100%;
    }

    .link {
        margin-bottom: 3rem;
        font-size: 0;
        &::before {
            background-image: url(../img/icon/arrownextblack.svg);
        }
        span {
            color: #1B1E1F;
        }
    }
    .title {
        margin-top: -3rem;

        span {
            display: none;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        padding-right: 40.1rem;
        padding-left: 40.2rem;
    }

    &__feedback-inner {
        display: flex;
        align-items: center;
        margin-bottom: 4.7rem;
    }

    &__feedback-image {
        height: 6.2rem;
        width: 16rem;
        margin-right: 1.4rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__feedback-text {
        display: flex;
        flex-direction: column;

        strong {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #1B1E1F;
            display: block;
            margin-bottom: 0.4rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            display: block;
            line-height: 156% ;
            letter-spacing: 0.02em;
            color: #98989B;
        }
    }


    &__swiper {
        width: 100%;
        overflow: hidden;
        margin-bottom: 4.85rem;
    }

    &__swiper-two {
        margin-bottom: 7rem;
    }

    &__slide {
        min-width: fit-content;
       
      
    }

    &__slide-two {
        min-width: fit-content;
    
      
    }

  
    

    &__image {
        min-width: fit-content;
        height: 34.6rem;
        transition: all 0.2s;
        cursor: pointer;
        transition: transform .5s ease;
        &:hover {
            transition: transform .5s ease;
            transform: scale(1.05 );
        }
        img {
            min-width: 100%;
            height: 100%;
          
            
        }
    }
}