.tours {
    margin-bottom: 15rem;
    .container {
        width: 108.5rem;
    }

    .title {
        text-align: center;
        margin-bottom: 9.6rem;
       
        b {
            color: #BF2B2B;
           
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        

    }

    &__map {
        position: absolute;
        z-index: -1;
    }


    &__table {
        width: 66.4rem;
        height: 25.8rem;
        background: rgba(177, 177, 177, 0.06);
        backdrop-filter: blur(25px);
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.6rem;
        padding-right: 3rem;
    }

    &__table:nth-child(2) {
        margin-bottom: 11.7rem;
    }

    &__table-text {
        display: block;
        padding-top: 3.4rem;
        strong {
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            display: block;
            color: #1B1E1F;
            margin-bottom: 2rem;

        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 156%;
            letter-spacing: 0.04em;
            color: #1B1E1F;
        }
    }


    

    &__table--right {
        padding-right: 0;
        padding-left: 3rem;
        margin-left: auto;

        .tours__table-map {
            margin-right: 0;
        }
    }

    &__table-map {
        height: 100%;
        width: 24.5rem;
        min-width: 24.5rem;
        display: inline-block;
        margin-right: 3rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__block-data {
        display: flex;
        flex-direction: column;
        margin-top: 30rem;
        strong {
            display: block;
            font-family: 'Akrobat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 6rem;
            line-height: 7.2rem;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #1B1E1F;
            margin-bottom: 1.5rem;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 156%;
            letter-spacing: 0.02em;
            color: #98989B;
        }
    }
    

}


.tours-card {
    width: 34.2rem;
    &__inner {
        display: flex;
        margin-bottom: 1.2rem;
    }

    &__number {
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-right: 2rem;
        text-transform: uppercase;
        color: #98989B;

    }

    &__name {
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #1B1E1F;

    }

    &__day {
        font-family: 'Akrobat',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 3rem;
        line-height: 100% ;
        text-transform: uppercase;
        color: #1B1E1F;
        padding-bottom: 2rem;
        border-bottom: 1px solid #C9C8D0;
        margin-bottom: 2rem;

    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13.7rem;
    }

    &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #BF2B2B;
    }

    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-right: 6rem;
        color: #1B1E1F;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 4.5rem;
            height: 1rem;
            background-image: url(../img/icon/arrownextblack.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
            top: 0.5rem;
        }

    }

   
}