<section class="applications">
    <div class="container">
        <form action="" class="applications__form">
            <div class="applications__form-title">
                Оформление заявки
            </div>
            <div class="applications__block">
                <div class="applications__inner">
                    <div class="applications__select">
                        <input class="applications__select-input" type="hidden" name="" value="">
                        <div class="applications__select-head">Вид тура </div>
                        <ul class="applications__select-list">
                            <li class="applications__select-item">Рыбалка на сома</li>
                            <li class="applications__select-item">Рыбалка на кита </li>
                        </ul>
                    </div>
                    <div class="applications__hint">
                        <div class="applications__hint-content">
                          <img src="./img/icon/icont.png" alt="">  <span>сначала заполните тур</span>
                          </div>    
                    </div>
                </div>
                <div class="applications__inner applications__inner--calendar">
                    <label class="calendar" for=""></label>
                    <input type="text"  class="airdatepicker" placeholder="дата"  >
                </div>
            </div>
            <!--  -->
            <div class="applications__block">
                <div class="applications__inner">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="applications__inner">
                    <input type="tel"  placeholder="телефон" class="form-control">
                    <div class="applications__inner-prompt">формат +7 496 335 85 44</div>
                </div>

            </div>
            <!--  -->
            <label class="checkbox-other">
                <input type="checkbox" >
                <span> Нажимая кнопку “оставить заявку”, вы даёте согласие<br> на <a href="">обработку персональных данных</a></span>
              </label>
            <button class="applications__btn">
                <span>Оставить заявку</span>
            </button>
            <div class="applications__text">
                Нажимая кнопку “оставить заявку”, вы даёте согласие на <a href="">обработку персональных данных </a>
            </div>
        </form>
    </div>
</section>