<section class="boats">
    <div class="container">
        <div class="title">
            <span>оснащение</span>
            <strong>Премиальные<br> лодки</strong>
        </div>
        <div class="boats__wrapper">
            <div class="boats__swiper swiper">
                <div class="boats__swiper-wrapper swiper-wrapper">
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide1.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide2.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide3.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide4.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide5.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide6.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide7.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide1.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide2.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide3.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide4.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide5.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide6.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="boats__slide swiper-slide">
                        <div class="boats__image">
                            <img src="./img/boats/slide7.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                </div>
            </div>
            
        </div>
        <div class="pagination boats__pagination">
            <div class="pagination__bullets boats__bullets"></div>
            <div class="pagination__scroll boats__scroll"></div>
            <div class="pagination__arrows boats__arrows">
                <div class="pagination__prev boats__prev">
                    <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.627178 5.97895C0.334285 6.27184 0.334285 6.74671 0.627178 7.03961L5.40015 11.8126C5.69304 12.1055 6.16792 12.1055 6.46081 11.8126C6.7537 11.5197 6.7537 11.0448 6.46081 10.7519L2.21817 6.50928L6.46081 2.26664C6.7537 1.97374 6.7537 1.49887 6.46081 1.20598C6.16792 0.913083 5.69304 0.913084 5.40015 1.20598L0.627178 5.97895ZM15.4546 5.75928L1.15751 5.75928L1.15751 7.25928L15.4546 7.25928L15.4546 5.75928Z" />
                    </svg>
                </div>
                <div class="pagination__next boats__next">
                    <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.1726 7.03961C15.4655 6.74671 15.4655 6.27184 15.1726 5.97895L10.3997 1.20598C10.1068 0.913083 9.63189 0.913083 9.339 1.20598C9.0461 1.49887 9.0461 1.97374 9.339 2.26664L13.5816 6.50928L9.339 10.7519C9.0461 11.0448 9.0461 11.5197 9.339 11.8126C9.63189 12.1055 10.1068 12.1055 10.3997 11.8126L15.1726 7.03961ZM0.345215 7.25928L14.6423 7.25928L14.6423 5.75928L0.345215 5.75928L0.345215 7.25928Z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="boats__text">
            <p>Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты, знаете, что такое первозданная природа, знакомы с дикой флорой и фауной и бывали в различных ситуациях, но мы хотим, чтобы Вы были готовы к особенностям наших мест </p>
            <p>Рыбалка на Камчатке – это не поездка в Сочи (хотя даже здесь важно внимательно подойти к вопросу), это сложный маршрут повышенной опасности в диких условиях, требующий проработки на всех этапах. Опытные путешественники, которые сталкивались с различными рода ситуациями знают, что посредственная техника, не опытный гид, не отработанный быт, да все что угодно, если это делают дилетанты, сделает Ваш отдых испорченным. </p>
        </div>
        <a href="" class="black-link">
            <span>ПодробнеЕ</span>
        </a>
    </div>
</section>