<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__text">
                <div class="contacts__text-title">ОФОРМЛЕНИЕ ЗАЯВКИ</div>
                <div class="contacts__text-words">
                    Оставьте номер телефона, мы перезвоним в течении 10 минут
                </div>
            </div>
            <form action="" class="contacts__form">
                <div class="contacts__block">
                    <div class="contacts__inner">
                        <div class="contacts__select">
                            <input class="contacts__select-input" type="hidden" name="">
                            <div class="contacts__select-head">Вид тура </div>
                            <ul class="contacts__select-list">
                                <li class="contacts__select-item">Рыбалка на сома</li>
                                <li class="contacts__select-item">Рыбалка на кита </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contacts__inner">
                        <input class="calendar" type="date" placeholder="дата">
                    </div>
                </div>
                <!--  -->
                <div class="contacts__block">
                    <div class="contacts__inner">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="contacts__inner">
                        <input type="text" placeholder="+ 7 ___ ___ __ __">
                    </div>
                </div>
                <!--  -->
                <label class="checkbox-other">
                    <input type="checkbox" >
                    <span> Нажимая кнопку “оставить заявку”, вы даёте согласие<br> на обработку персональных данных</span>
                  </label>
                <button class="contacts__btn">
                    <span>Оставить заявку</span>
                </button>
            </form>
        </div>
    </div>
</section>