<section class="differences">
    <div class="container">
        <div class="title">
            <span>yakimovich fishing</span>
            <strong class="desk"><b>отличия</b> от конкурентов</strong>
            <strong class="mob">Чем мы отличаемся<br> от конкурентов?</strong>
        </div>
        <!-- title -->
        <div class="differences__image">
            <img src="./img/differences/differences1.png" alt="">
        </div>
        <div class="differences__text">
            <p>Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты, знаете, что такое первозданная природа, знакомы с дикой флорой и фауной и бывали в различных ситуациях, но мы хотим, чтобы Вы были готовы к особенностям наших мест </p>
            <p>Рыбалка на Камчатке – это не поездка в Сочи (хотя даже здесь важно внимательно подойти к вопросу), это сложный маршрут повышенной опасности в диких условиях, требующий проработки на всех этапах. Опытные путешественники, которые сталкивались с различными рода ситуациями знают, что посредственная техника, не опытный гид, не отработанный быт, да все что угодно, если это делают дилетанты, сделает Ваш отдых испорченным. </p>
        </div>
        <div class="differences__text-mob">
            <p>Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты, знаете, что такое первозданная природа, знакомы с дикой флорой и фауной и бывали в различных ситуациях, но мы хотим, чтобы Вы были готовы к особенностям наших мест </p>
        </div>
        <a href="" class="black-link">
            <span>ПодробнеЕ</span>
        </a>
    </div>
</section>