<section class="feedback">
    <div class="feedback__bg"></div>
    <div class="container">
        <div class="category">
            <a href="">Главная </a>
            <a href="">Премиальные лодки</a>
        </div>
        <div class="feedback__title">
            <strong>отзывы</strong>
            <a href="" class="link"><span>оставить отзыв</span></a>
        </div>
        <div class="feedback__wrapper">
            <div class="feedback__swiper swiper">
                <div class="feedback__swiper-wrapper swiper-wrapper">
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                    <div class="feedback__slide swiper-slide">
                        <div class="feedback-card">
                            <div class="feedback-card__inner">
                                <div class="feedback-card__name">Андрей власов</div>
                                <div class="feedback-card__date">25 октября 2022</div>
                            </div>
                            <!-- inner -->
                            <div class="feedback-card__stars">
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/starred.svg" alt="">
                                </div>
                                <div class="feedback-card__star">
                                    <img src="./img/feedback/stargrey.svg" alt="">
                                </div>
                            </div>
                            <div class="feedback-card__text">
                                Спасибо за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство. Спасибо 
                                за прекрасный отдых. Прекрасная рыбалка и вкусная еда!!! Отдельное спасибо хозяину за гостепреимство.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination feedback__pagination">
                <div class="pagination__bullets feedback__bullets"></div>
                <div class="pagination__scroll feedback__scroll"></div>
                <div class="pagination__arrows feedback__arrows">
                    <div class="pagination__prev feedback__prev">
                        <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.627178 5.97895C0.334285 6.27184 0.334285 6.74671 0.627178 7.03961L5.40015 11.8126C5.69304 12.1055 6.16792 12.1055 6.46081 11.8126C6.7537 11.5197 6.7537 11.0448 6.46081 10.7519L2.21817 6.50928L6.46081 2.26664C6.7537 1.97374 6.7537 1.49887 6.46081 1.20598C6.16792 0.913083 5.69304 0.913084 5.40015 1.20598L0.627178 5.97895ZM15.4546 5.75928L1.15751 5.75928L1.15751 7.25928L15.4546 7.25928L15.4546 5.75928Z" />
                        </svg>
                    </div>
                    <div class="pagination__next feedback__next">
                        <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1726 7.03961C15.4655 6.74671 15.4655 6.27184 15.1726 5.97895L10.3997 1.20598C10.1068 0.913083 9.63189 0.913083 9.339 1.20598C9.0461 1.49887 9.0461 1.97374 9.339 2.26664L13.5816 6.50928L9.339 10.7519C9.0461 11.0448 9.0461 11.5197 9.339 11.8126C9.63189 12.1055 10.1068 12.1055 10.3997 11.8126L15.1726 7.03961ZM0.345215 7.25928L14.6423 7.25928L14.6423 5.75928L0.345215 5.75928L0.345215 7.25928Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>