<section class="feedback-form">
    <div class="container">
        <div class="feedback-form__wrapper">
            <div class="feedback-form__text">
                <div class="feedback-form__text-title">оставить<br> отзыв</div>
                <div class="feedback-form__text-words">
                    вы можете Оставить отзыв 
                    о нашей компании прямо сейчас 
                </div>
            </div>
            <form action="" class="feedback-form__form">
                <div class="feedback-form__block">
                    <div class="feedback-form__inner">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="feedback-form__inner">
                        <input type="text" placeholder="+ 7 ___ ___ __ __">
                    </div>
                </div>
                <!--  -->
                <div class="feedback-form__big">
                    <input type="text" placeholder="ваш отзыв">
                </div>
                <div class="feedback-form__stars">
                    <div class="feedback-form__stats-text">ваша оценка:</div>
                    <div class="feedback-form__stars-inner">
                        <div class="feedback-form__star">
                            <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                            </svg>
                                
                        </div>
                        <div class="feedback-form__star">
                            <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                            </svg>
                        </div>
                        <div class="feedback-form__star">
                            <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                            </svg>
                        </div>
                        <div class="feedback-form__star">
                            <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                            </svg>
                        </div>
                        <div class="feedback-form__star">
                            <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <button class="contacts__btn">
                    <span>оставить отзыв</span>
                </button>
            </form>
        </div>
    </div>
</section>