<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="" class="header__logo">
                <img src="./img/icon/logo.svg" alt="">
            </a>
            <div class="header__select">
                <input class="header__select-input" type="hidden" name="">
                <div class="header__select-head">RU</div>
                <ul class="header__select-list">
                    <li class="header__select-item">EN</li>
                    <li class="header__select-item">RU</li>
                </ul>
            </div>
            <nav class="header__nav">
                <ul class="header__lists">
                    <li class="header__item"><a href="">О компании</a></li>
                    <li class="header__item"><a href="">Договор ОФ</a></li>
                    <li class="header__item"><a href="">Туры</a></li>
                    <li class="header__item"><a href="">Контакты</a></li>
                    <li class="header__item"><a href="">8 496 335 85 22</a></li>
                </ul>
                 
            </nav>
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>