<section class="kinds">
    <div class="container">
        <div class="kinds__wrapper">
            <article class="article-card">
                <div class="article-card__name">
                    РЫБАЛКА
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">3 часа</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>

                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <a href="" class="article-card__link">Оставить заявку</a>
                </div>
            </article>
            <article class="article-card">
                <div class="article-card__name">
                    Рыбалка
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">пол дня</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>

                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <a href="" class="article-card__link">Оставить заявку</a>
                </div>
            </article>
            <article class="article-card">
                <div class="article-card__name">
                    Рыбалка
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">целый день</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>
                            <div class="article-card__star">
                                <svg  viewBox="0 0 23 22"  xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.375 0.0185547L14.8899 6.93023L22.75 8.04537L17.0625 13.4223L18.4048 21.0186L11.375 17.4302L4.34525 21.0186L5.6875 13.4223L0 8.04537L7.86013 6.93023L11.375 0.0185547Z"/>
                                </svg>
                            </div>

                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <a href="" class="article-card__link">Оставить заявку</a>
                </div>
            </article>
        </div>
    </div>
</section>