<section class="kinds">
    <div class="container">
        <div class="kinds__wrapper">
            <article class="article-card">
                <div class="article-card__name">
                    РЫБАЛКА
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">3 часа</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="rating">
                                <span class="star " ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                              </div>
                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <button class="article-card__link open-star">Оставить заявку</button>
                </div>
            </article>
            <article class="article-card">
                <div class="article-card__name">
                    Рыбалка
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">пол дня</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="rating">
                                <span class="star " ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                              </div>

                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <button  class="article-card__link">Оставить заявку</button>
                </div>
            </article>
            <article class="article-card">
                <div class="article-card__name">
                    Рыбалка
                </div>
                <div class="article-card__inner">
                    <div class="article-card__time">целый день</div>
                    <div class="article-card__star-blcok">
                        
                        <div class="article-card__star-stars">
                            <div class="rating">
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                                <span class="star star--red" ></span>
                              </div>

                        </div>
                        <div class="article-card__star-text">Оценить</div>
                    </div>
                </div>
                <!--  -->
                <div class="article-card__wrap">
                    <div class="article-card__text">
                        Путешествие на Камчатку с нашей компанией принесет Вам незабываемые впечатления, которые Вы не забудете никогда! Мы рады организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом организовать для Вас экскурсии выходного дня, индивидуальные и групповые туры по всей Камчатке летом 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                        и зимой, а также предлагаем Вам организацию рыбалки и охоты на нашем полуострове. Более подробно с турами, которые организует наша 
                    </div>
                    <button class="article-card__btn"><span>ПодробнеЕ</span></button>
                </div>
                <div class="article-card__block">
                    <div class="article-card__price">110 000</div>
                    <button  class="article-card__link">Оставить заявку</button>
                </div>
            </article>
        </div>
    </div>
</section>