<section class="main">
    <div class="main__bg-mobile">
        <img src="./img/main/framebg.png" alt="">
    </div>
    <div class="main__fullscreen">
        
        <div class="main__logo">
            <img src="./img/main/YAKIMOVICH.png" alt="">
        </div>
        <div class="container">
            <div class="main__feedback">
                <div class="main__feedback-inner">
                    <div class="main__feedback-image">
                        <img src="./img/main/feed.svg" alt="">
                    </div>
                    <div class="main__feedback-text">
                        <strong>1 000+</strong>
                        <span>Довольных клиентов</span>
                    </div>
                </div>
                <!-- inner -->
                <a href="" class="link">
                    <span>оставить отзыв</span>
                </a>
            </div>
            <!-- feed -->
            <div class="main__title-desk">
                <strong>Рыбалка</strong>
                <span>на Камчатке</span>
            </div>
            <div class="main__title-mob">
                Рыбалка<br>
                на Камчатке
            </div>
            <div class="main__text">
                <strong>не нужно далеко ехать</strong>
                <p>Достаточно <span>трёх часов</span>, чтобы полностью насладиться Камчатской рыбалкой с самой комфортной компанией YAKIMOVICH fishing</p>
            </div>
            <a href="" class="link">
                <span>оставить заявку</span>
            </a>
        </div>
    </div>
    <!--  -->
</section>