<section class="map">
    <div class="container">
        <div class="map__mob-title">
            контакты
        </div>
        <div class="map__wrapper">
            <div class="map__block">
                <div class="map__title">контакты</div>
                <div class="map__inner">
                    <div class="map__inner-title">связаться с нами:</div>
                    <span>Москва: <a href="8 496 335 85 22">8 496 335 85 22</a></span>
                    <span>Камчатка: <a href="8 496 335 85 22">8 496 335 85 22</a></span>
                    <span><a href="yakimovichFishing@mail.com">yakimovichFishing@mail.com</a></span>
                </div>
                <!-- inner -->
                <div class="map__inner">
                    <div class="map__inner-title">График работы:</div>
                    <span>Ежедневно с 6:00 до 20:00</span>
                    <span>Выходные и праздники с 5:00 до 23:00</span>
                    
                </div>
                <!-- inner -->
                <div class="map__inner">
                    <div class="map__inner-title">Наш адрес:</div>
                    <span>117630, г. Москва, вн. тер. г. муниципальный округ
                        Обручевский, ул. Обручева, дом 23, корпус 3, помещение XXIV, комната. 4Г
                        </span>
                    
                    
                </div>
                <!-- inner -->
                <div class="map__social-title">Наши соц. сети</div>
                <div class="map__social">
                    <a href="">
                        <img src="./img/map/tege.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./img/map/whatt.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./img/map/inst.svg" alt="">
                    </a>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
</section>