<section class="motors">
    <div class="container">
        <div class="title">
            <span>оснащение</span>
            <strong>Мощные моторы</strong>
        </div>
        <div class="motors__wrapper">
            <article class="motors-card">
                <div class="motors-card__block">
                    <div class="motors-card__image">
                        <img src="./img/motors/mot1.png" alt="">
                    </div>
                </div>
                <!-- block -->
                <div class="motors-card__text">
                    <span>МОТОР ЛОДОЧНЫЙ</span>
                    <strong>SUZUKI DF140BTL</strong>
                    <strong>80 Л.С.</strong>
                </div>
            </article>
            <article class="motors-card">
                <div class="motors-card__block">
                    <div class="motors-card__image">
                        <img src="./img/motors/mot2.png" alt="">
                    </div>
                </div>
                <!-- block -->
                <div class="motors-card__text">
                    <span>Водометный мотор</span>
                    <strong>Suzuki DF 140/105 Jet</strong>
                    <strong>80 Л.С.</strong>
                </div>
            </article>
            <article class="motors-card">
                <div class="motors-card__block">
                    <div class="motors-card__image">
                        <img src="./img/motors/mot3.png" alt="">
                    </div>
                </div>
                <!-- block -->
                <div class="motors-card__text">
                    <span>скоростной мотор</span>
                    <strong>JET FOURSTROKE <b>80 Л.С.</b></strong>
                    <strong>80 Л.С.</strong>
                </div>
            </article>
        </div>
    </div>
</section>