<section class="offers">
    <div class="container">
        <div class="offers__wrapper">
            <div class="offers__image">
                <img src="./img/offers/offer1.png" alt="">
            </div>
            <div class="offers__text">
                <div class="offers__title">Договор оферты</div>
                <div class="offers__words">
                    Профессиональные японские карбоновые удилища  Grafitleader премиум класса с тестами для любой приманки. Лучшие и самые дорогие катушки Японии Shimano Twin Power 20 для веса любого хищника.<br> 
                    Профессиональные японские карбоновые удилища  Grafitleader премиум класса с тестами для любой приманки. 
                </div>
                <a href="" class="link desk">
                    <span>подробнее</span>
                </a>
            </div>
        </div>
        <a href="" class="link mob">
            <span>подробнее</span>
        </a>
    </div>
</section>