<section class="our-tours">
    <div class="container">
        <div class="our-tours__wrapper">
            <div class="our-tours__block">
                <div class="our-tours__title">Наши<br> туры </div>
                <div class="our-tours__text">
                    Достаточно трёх часов, чтобы полностью насладиться Камчатской рыбалкой с самой комфортной компанией YAKIMOVICH fishing
                </div>
                <div class="our-tours__feedback">
                    <div class="our-tours__feedback-inner">
                        <div class="our-tours__feedback-image">
                            <img src="./img/main/feed.svg" alt="">
                        </div>
                        <div class="our-tours__feedback-text">
                            <strong>1 000+</strong>
                            <span>Довольных клиентов</span>
                        </div>
                    </div>
                    <!-- inner -->
                    <a href="" class="link">
                        отзывы<span>все отзывы</span>
                    </a>
                </div>
                    
                    
              
               
               
            </div>
            <div id="map">
                <img src="./img/map.png" alt="">
            </div>
        </div>
    </div>
</section>