<section class="present mob">
    <div class="container">
        <div class="title">
            <span>лучшим рыбакам</span>
            <strong>памятные подарки </strong>
        </div>
        <div class="present__wrapper">

            <article class="present-card">
                <div class="present-card__block">
                    <div class="present-card__image">
                        <img src="./img/present/cep1.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="present-card__text">
                    <span>Лимитированная коллекция</span>
                    <strong>крабовое сафари</strong>
                </div>
            </article>
            <!--  -->
            <article class="present-card">
                <div class="present-card__block">
                    <div class="present-card__image">
                        <img src="./img/present/cep2.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="present-card__text">
                    <span>Лимитированная коллекция</span>
                    <strong>речная рыбалка</strong>
                </div>
            </article>
            <!--  -->
           
        
            <article class="present-card">
                <div class="present-card__block">
                    <div class="present-card__image">
                        <img src="./img/present/cep3.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="present-card__text">
                    <span>Лимитированная коллекция</span>
                    <strong>крабовое сафари</strong>
                </div>
            </article>
            <!--  -->
        </div>
    </div>
</section>