<section class="relaxation">
    <div class="container">
        <div class="relaxation__block">
            <div class="relaxation__feedback">
                <a href="" class="link">
                    отзывы
                    <span>все отзывы</span>
                </a>
                <div class="relaxation__feedback-inner">
                    <div class="relaxation__feedback-image">
                        <img src="./img/main/feed.svg" alt="">
                    </div>
                    <div class="relaxation__feedback-text">
                        <strong>1 000+</strong>
                        <span>Довольных клиентов</span>
                    </div>
                </div>
                <!-- inner -->
            </div>
            <!-- feed -->
            <div class="title">
                <span>рыбалка на камчатке</span>
                <strong>фототур<br>
                    вашего отдыха</strong>
            </div>
        </div>
        <!-- block -->
        <div class="relaxation__wrapper">
            <div class="relaxation__swiper swiper">
                <div class="relaxation__swiper-wrapper swiper-wrapper">
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax1.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax2.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax3.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax4.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax5.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax6.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax7.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                </div>
            </div>
            <div class="relaxation__swiper-two swiper">
                <div class="relaxation__swiper-wrapper-two swiper-wrapper">
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax4.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax6.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax5.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax7.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax1.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax2.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                    <div class="relaxation__slide-two swiper-slide">
                        <div class="relaxation__image">
                            <img src="./img/relax/relax3.png" alt="">
                        </div>
                    </div>
                    <!-- slide -->
                   

                 
                </div>
            </div>
        </div>
        <div class="pagination relaxation__pagination">
            <div class="pagination__bullets relaxation__bullets"></div>
            <div class="pagination__scroll relaxation__scroll"></div>
            <div class="pagination__arrows relaxation__arrows">
                <div class="pagination__prev relaxation__prev">
                    <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.627178 5.97895C0.334285 6.27184 0.334285 6.74671 0.627178 7.03961L5.40015 11.8126C5.69304 12.1055 6.16792 12.1055 6.46081 11.8126C6.7537 11.5197 6.7537 11.0448 6.46081 10.7519L2.21817 6.50928L6.46081 2.26664C6.7537 1.97374 6.7537 1.49887 6.46081 1.20598C6.16792 0.913083 5.69304 0.913084 5.40015 1.20598L0.627178 5.97895ZM15.4546 5.75928L1.15751 5.75928L1.15751 7.25928L15.4546 7.25928L15.4546 5.75928Z" />
                    </svg>
                </div>
                <div class="pagination__next relaxation__next">
                    <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.1726 7.03961C15.4655 6.74671 15.4655 6.27184 15.1726 5.97895L10.3997 1.20598C10.1068 0.913083 9.63189 0.913083 9.339 1.20598C9.0461 1.49887 9.0461 1.97374 9.339 2.26664L13.5816 6.50928L9.339 10.7519C9.0461 11.0448 9.0461 11.5197 9.339 11.8126C9.63189 12.1055 10.1068 12.1055 10.3997 11.8126L15.1726 7.03961ZM0.345215 7.25928L14.6423 7.25928L14.6423 5.75928L0.345215 5.75928L0.345215 7.25928Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>