<section class="tackle">
    <div class="container">
        <div class="title">
            <span>оснащение</span>
            <strong>Японские снасти</strong>
        </div>
        <div class="tackle__wrapper">
            <article class="tackle-table">
                <div class="tackle-table__block">
                    <div class="tackle-table__image">
                        <img src="./img/tackle/tackle1.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="tackle-table__text">
                    <span>катушки Японии</span>
                    <strong>Shimano twin power 2500</strong>
                </div>
            </article>
            <article class="tackle-table">
                <div class="tackle-table__block">
                    <div class="tackle-table__image">
                        <img src="./img/tackle/tackle2.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="tackle-table__text">
                    <span>катушки Японии</span>
                    <strong>Shimano twin power 3000</strong>
                </div>
            </article>
            <article class="tackle-table">
                <div class="tackle-table__block">
                    <div class="tackle-table__image">
                        <img src="./img/tackle/tackle3.png" alt="">
                    </div>
                </div>
                <!--  -->
                <div class="tackle-table__text">
                    <span>катушки Японии</span>
                    <strong>Shimano twin power 4000</strong>
                </div>
            </article>
        </div>
        <div class="tackle__text">
            <p>                      Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты, знаете, что такое первозданная природа, знакомы с дикой флорой и фауной и бывали в различных ситуациях, но мы хотим, чтобы Вы были готовы к особенностям наших мест </p>
            <p>                      Рыбалка на Камчатке – это не поездка в Сочи (хотя даже здесь важно внимательно подойти к вопросу), это сложный маршрут повышенной опасности в диких условиях, требующий проработки на всех этапах. Опытные путешественники, которые сталкивались с различными рода ситуациями знают, что посредственная техника, не опытный гид, не отработанный быт, да все что угодно, если это делают дилетанты, сделает Ваш отдых испорченным. </p>
        </div>
        <a href="" class="black-link">
            <span>ПодробнеЕ</span>
        </a>
    </div>
</section>