<section class="tours">
    <div class="container">
        <div class="title">
            <strong>туры в <b>сердце</b> камчатки</strong>
        </div>
        <div class="tours__wrapper">
            <div class="tours__cards">
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">01</div>
                        <div class="tours-card__name">рыбалка</div>
                    </div>
                    <div class="tours-card__day">Полный день</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
                <!--  -->
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">02</div>
                        <div class="tours-card__name">крабовое сафари</div>
                    </div>
                    <div class="tours-card__day">пол дня</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
                <!--  -->
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">03</div>
                        <div class="tours-card__name">рыбалка</div>
                    </div>
                    <div class="tours-card__day">3 часа</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- tables -->
            <div class="tours__map">
                <img src="./img/tours/map.svg" alt="">
            </div>
            <div class="tours__tables">
                <div class="tours__table">
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                </div>
                <div class="tours__table">
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                </div>

                <div class="tours__table tours__table--right">
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    
                </div>
                <div class="tours__table tours__table--right">
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                   
                </div>
            </div>

            <div class="tours__block">
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Отзывов посетителей</span>
                </div>
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Проведено туров </span>
                </div>
                <div class="tours__block-data">
                    <strong>250+</strong>
                    <span>Довольных клиентов </span>
                </div>
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Пойманной рыбы</span>
                </div>
            </div>
        </div>
    </div>
</section>