<section class="tours tours--ceo">
    <div class="container">
        
        <div class="tours__wrapper">
            <div class="tours__cards">
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">01</div>
                        <div class="tours-card__name">рыбалка</div>
                    </div>
                    <div class="tours-card__day">Полный день</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
                <!--  -->
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">02</div>
                        <div class="tours-card__name">крабовое сафари</div>
                    </div>
                    <div class="tours-card__day">пол дня</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
                <!--  -->
                <article class="tours-card">
                    <div class="tours-card__inner">
                        <div class="tours-card__number">03</div>
                        <div class="tours-card__name">рыбалка</div>
                    </div>
                    <div class="tours-card__day">3 часа</div>
                    <div class="tours-card__wrap">
                        <div class="tours-card__price">110 000 ₽</div>
                        <a href="" class="tours-card__link">
                            <span>описание</span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- tables -->
            <div class="tours__map">
                <img src="./img/tours/map.svg" alt="">
            </div>
            <div class="tours__tables">
                <div class="tours__table">
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                </div>
                <div class="tours__table">
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                </div>

                <div class="tours__table tours__table--right">
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                    
                </div>
                <div class="tours__table tours__table--right">
                    <div class="tours__table-text">
                        <strong>р. авача</strong>
                        <p>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест 
                            в реки. Вкусная красная икра с Камчатки получается только в этот период времени</p>
                    </div>
                    <div class="tours__table-map">
                        <img src="./img/tours/minimap.png" alt="">
                    </div>
                   
                </div>
            </div>
            <div class="tours__swiper swiper">
                <div class="tours__swiper-wrapper swiper-wrapper">
                    <div class="tours__slide swiper-slide">
                        <div class="tours__slide-content">
                            <div class="tours__slide-content-image">
                                <img src="./img/tours/minimap.png" alt="">
                            </div>
                            <div class="tours__slide-content-number">01 рыбалка</div>
                            <div class="tours__slide-content-text">
                                <strong>полный день</strong>
                                <span>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест в реки.</span>
                            </div>
                            <div class="tours__slide-content-wrap">
                                <a href="" class="tours__slide-content-link">
                                    <span>60 000</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tours__slide swiper-slide">
                        <div class="tours__slide-content">
                            <div class="tours__slide-content-image">
                                <img src="./img/tours/minimap.png" alt="">
                            </div>
                            <div class="tours__slide-content-number">01 рыбалка</div>
                            <div class="tours__slide-content-text">
                                <strong>полный день</strong>
                                <span>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест в реки.</span>
                            </div>
                            <div class="tours__slide-content-wrap">
                                <a href="" class="tours__slide-content-link">
                                    <span>60 000</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tours__slide swiper-slide">
                        <div class="tours__slide-content">
                            <div class="tours__slide-content-image">
                                <img src="./img/tours/minimap.png" alt="">
                            </div>
                            <div class="tours__slide-content-number">01 рыбалка</div>
                            <div class="tours__slide-content-text">
                                <strong>полный день</strong>
                                <span>Лососевая путина -этоинтенсивный вылов рыбы лососевых пород (чавача, нерка, горбуша,кета) в течение лета и начала осени, когда лосось из моря заходит на нерест в реки.</span>
                            </div>
                            <div class="tours__slide-content-wrap">
                                <a href="" class="tours__slide-content-link">
                                    <span>60 000</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="pagination tours__pagination">
                <div class="pagination__bullets tours__bullets"></div>
                <div class="pagination__scroll tours__scroll"></div>
                <div class="pagination__arrows tours__arrows">
                    <div class="pagination__prev tours__prev">
                        <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.627178 5.97895C0.334285 6.27184 0.334285 6.74671 0.627178 7.03961L5.40015 11.8126C5.69304 12.1055 6.16792 12.1055 6.46081 11.8126C6.7537 11.5197 6.7537 11.0448 6.46081 10.7519L2.21817 6.50928L6.46081 2.26664C6.7537 1.97374 6.7537 1.49887 6.46081 1.20598C6.16792 0.913083 5.69304 0.913084 5.40015 1.20598L0.627178 5.97895ZM15.4546 5.75928L1.15751 5.75928L1.15751 7.25928L15.4546 7.25928L15.4546 5.75928Z" />
                        </svg>
                    </div>
                    <div class="pagination__next tours__next">
                        <svg  viewBox="0 0 16 13"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1726 7.03961C15.4655 6.74671 15.4655 6.27184 15.1726 5.97895L10.3997 1.20598C10.1068 0.913083 9.63189 0.913083 9.339 1.20598C9.0461 1.49887 9.0461 1.97374 9.339 2.26664L13.5816 6.50928L9.339 10.7519C9.0461 11.0448 9.0461 11.5197 9.339 11.8126C9.63189 12.1055 10.1068 12.1055 10.3997 11.8126L15.1726 7.03961ZM0.345215 7.25928L14.6423 7.25928L14.6423 5.75928L0.345215 5.75928L0.345215 7.25928Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="tours__block">
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Отзывов посетителей</span>
                </div>
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Проведено туров </span>
                </div>
                <div class="tours__block-data">
                    <strong>250+</strong>
                    <span>Довольных клиентов </span>
                </div>
                <div class="tours__block-data">
                    <strong>100+</strong>
                    <span>Пойманной рыбы</span>
                </div>
            </div>
        </div>
    </div>
</section>