<section class="treaty">
    <div class="container">
        <div class="treaty__title">Договор оферты</div>
        <div class="treaty__text">
            <div class="treaty__text-title">
                1. Общие положения политики
            </div>
            <div class="treaty__text-lists">
                <li>Настоящая Политика действует в отношении всей информации, которую Компания и/или ее аффилированные лица, включая все лица, входящие в одну группу с Компанией, могут получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов Компании (далее — Сервисы), а также в ходе исполнения Компанией / её аффилированными лицами любых соглашений и договоров, заключенных с пользователем в связи с использованием Сервисов. Согласие пользователя на предоставление персональных данных (персональной информации), данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в группу лиц Компании, распространяется на все лица, входящие в данную группу лиц.</li>
                <li>Компания является Оператором по обработке персональных данных в смысле, закладываемом Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных».</li>
                <li>При регистрации на интернет-сайтах Компании (в том числе http://tc-smile.ru) и/или заполнении форм, требующих ввода персональных данных, Пользователь своей волей и в своих интересах дает письменное согласие на следующие способы обработки своих персональных данных в соответствии с условиями, определенными настоящим документом: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                <li>К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Российской Федерации.</li>
                <li>Здесь и далее в Политике используются термины и определения, толкование которых производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.</li>
            </div>
            <div class="treaty__text-title">
                1. Общие положения политики
            </div>
            <div class="treaty__text-lists">
                <li>Настоящая Политика действует в отношении всей информации, которую Компания и/или ее аффилированные лица, включая все лица, входящие в одну группу с Компанией, могут получить о пользователе во время использования им любого из сайтов, сервисов, служб, программ и продуктов Компании (далее — Сервисы), а также в ходе исполнения Компанией / её аффилированными лицами любых соглашений и договоров, заключенных с пользователем в связи с использованием Сервисов. Согласие пользователя на предоставление персональных данных (персональной информации), данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в группу лиц Компании, распространяется на все лица, входящие в данную группу лиц.</li>
                <li>Компания является Оператором по обработке персональных данных в смысле, закладываемом Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных».</li>
                <li>При регистрации на интернет-сайтах Компании (в том числе http://tc-smile.ru) и/или заполнении форм, требующих ввода персональных данных, Пользователь своей волей и в своих интересах дает письменное согласие на следующие способы обработки своих персональных данных в соответствии с условиями, определенными настоящим документом: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                <li>К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Российской Федерации.</li>
                <li>Здесь и далее в Политике используются термины и определения, толкование которых производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.</li>
                <a href="" class="link"><span>скачать документ</span></a>
            </div>
            
        </div>
        
    </div>
</section>