<section class="vip mob" id="vip">
    <div class="container">
        <div class="title">
            <span>25+ лет на рынке</span>
            <strong><b>vip</b> рыбалка<br> 
                на полуострове</strong>
        </div>
        <!-- title -->
        <div class="vip__image">
            <img src="./img/vip/vip1.png" alt="">
        </div>
        <div class="vip__text content-block">
            <p>Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты... </p>
            <p class="hide-content">Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты...</p>
            <div class="show-btn-block">
                <button class="black-link show-more">
                    <span>ПодробнеЕ</span>
                </button>
            </div>
        </div>
       
    </div>
</section>