<section class="vip desk">
    <div class="container">
        <div class="title">
            <span>25+ лет на рынке</span>
            <strong><b>vip</b> рыбалка<br> 
                на полуострове</strong>
        </div>
        <!-- title -->
        <div class="vip__image">
            <img src="./img/vip/vip1.png" alt="">
        </div>
        <div class="vip__text">
            <p>Вы решили посетить наш замечательный край и побывать на самой темпераментной рыбалке в мире. Во всяком случае, так говорят наши именитые гости со всего мира. Вы, конечно, везде бывали: вылавливали всевозможных монстров во всех уголках планеты, знаете, что такое первозданная природа, знакомы с дикой флорой и фауной и бывали в различных ситуациях, но мы хотим, чтобы Вы были готовы к особенностям наших мест </p>
            <p>Рыбалка на Камчатке – это не поездка в Сочи (хотя даже здесь важно внимательно подойти к вопросу), это сложный маршрут повышенной опасности в диких условиях, требующий проработки на всех этапах. Опытные путешественники, которые сталкивались с различными рода ситуациями знают, что посредственная техника, не опытный гид, не отработанный быт, да все что угодно, если это делают дилетанты, сделает Ваш отдых испорченным. </p>
        </div>
        <a href="" class="black-link">
            <span>ПодробнеЕ</span>
        </a>
    </div>
</section>