<section class="vivo mob">
    <div class="container">
        <div class="title">
            <span>оснащение</span>
            <strong>ЯПОНСКИЕ СНАСТИ</strong>
        </div>
        <div class="vivo__wrapper">
            <article class="vivo-card">
                <div class="vivo-card__block">
                    <div class="vivo-card__image">
                        <img src="./img/vivo/vivo1.svg" alt="">
                    </div>
                </div>
                <div class="vivo-card__text">
                    <span>карбоновые удилища</span>
                    <strong>Graphiteleader Vivo Prototype</strong>
                </div>
            </article>
            <article class="vivo-card">
                <div class="vivo-card__block">
                    <div class="vivo-card__image">
                        <img src="./img/vivo/vivo2.svg" alt="">
                    </div>
                </div>
                <div class="vivo-card__text">
                    <span>карбоновые удилища</span>
                    <strong>Graphiteleader Vivo trio</strong>
                </div>
            </article>
            <article class="vivo-card">
                <div class="vivo-card__block">
                    <div class="vivo-card__image">
                        <img src="./img/vivo/vivo3.svg" alt="">
                    </div>
                </div>
                <div class="vivo-card__text">
                    <span>карбоновые удилища</span>
                    <strong>Graphiteleader Vivo Nuovo</strong>
                </div>
            </article>
        </div>
    </div>
</section>